.header {
    display:flex; 
    justify-content: center;
    background-color: #3f3b3f;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 15px;
}

.header-title {
    color: #CFCFCF;
    width:750px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.description {
    color: #CFCFCF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.bar-plot {
    background-color: white; 
    box-shadow: 0px 10px 12px 1px rgba(0,0,0,0.35);
    border-radius: 15px; 
    margin-bottom: 30px; 
}


.box-plot {
    background-color: white; 
    border-radius: 15px; 
    margin-bottom: 20px; 
    box-shadow: 0px 10px 12px 1px rgba(0,0,0,0.35);
}

.slider-description {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
